<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout4</title>
</head>
<body>
    <div class="mainpage" style="display: flex; justify-content: center; align-items: center; " >
      <div class="parent" style="display: flex;">
        <div class="imageBox">
          <img src="" alt="">
        </div>
        <div class="written">
          <h3>Product Name</h3>
           <p>Some details about the product</p>
           <button>Add to Cart</button>
        </div>
      </div>
    </div>
</body>
</html>