<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout 1</title>
</head>
<body style="margin: 0;">
   

    <div class="parent" style="display: flex; height: 100vh;">
        <div class="left-sidebar" style="height: 100vh; width: 20%; background-color: aqua;">leftside bar</div>
        <div class="main-content" style="flex: 1; background-color: blue; height: 100vh;" >main-content</div>
        <div class="right-sidebar" style="background-color: blueviolet; width: 20%;" >right-sidebar</div>
    </div>
      
</body>
</html>